<div class="grid-middle js--in-view">
  <div class="col-6_lg-12{{ module.settingImagePosition == 'right' ? ' setting--order-lg--last' }}">
    <div class="setting--pos-relative setting--overflow-hidden">
      {% set transformedImages = craft.imager.transformImage(module.standardImages[0], [
        { width: 1200 },
        { width: 600 },
        ], {  },
        { fillTransforms: true }) %}
        <img src="{{ craft.imager.base64Pixel(16, 9) }}" class="lazyload--image lazyload" sizes="50vw" srcset="{{ craft.imager.srcset(transformedImages) }}">
    </div>
  </div>
  <div class="col-6_lg-12{{ module.settingImagePosition == 'right' ? ' setting--order-lg--first' }}">
  <div class="typography setting--margin-bottom*{{ module.settingAlignCenter == true ? " setting--align-center" }}">
    {{ module.standardBodyText }}
  </div>
</div>
</div>
